/* main pedal */
.cardinal-fx.mod-pedal {
    background: #333333;
    background: linear-gradient(to bottom, #181919, #333333);
    width: 480px;
    height: 420px;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
.cardinal-fx.mod-pedal .border {
    border: 2px solid #4c4d4d;
    width: 480px;
    height: 420px;
    position: absolute;
}

.cardinal-fx.mod-pedal .mod-control-group {
    position: relative;
    z-index: 35;
}

/* top and bottom area split */
.cardinal-fx.mod-pedal .cardinal-fx-top {
    width: 100%;
    height: 240px;
    position: absolute;
    top: 0px;
    color: white;
}

.cardinal-fx.mod-pedal .cardinal-fx-bottom {
    width: 100%;
    height: 180px;
    position: absolute;
    top: 240px;
    color: white;
}

/* top area split */
.cardinal-fx.mod-pedal .cardinal-fx-top-left {
    width: 120px;
    height: 240px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.cardinal-fx.mod-pedal .cardinal-fx-top-right {
    width: 350px;
    height: 240px;
    position: absolute;
    top: 0px;
    left: 120px;
}

.cardinal-fx.mod-pedal .cardinal-patch-comment,
.cardinal-fx.mod-pedal .cardinal-patch-screeenshot {
    width: 340px;
    height: 210px;
    margin: 20px 20px 10px 0px;
}

/* bottom section split */
.cardinal-fx.mod-pedal .cardinal-fx-knob-page-selector {
    width: 107px; /* NOTE intentional over bounds */
    height: 170px;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left: 6px;
    z-index: 36;
}

.cardinal-fx.mod-pedal .cardinal-fx-knobs {
    width: 365px;
    height: 170px;
    position: absolute;
    top: 0px;
    left: 105px;
    padding: 0px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: #181919;
    border: 2px solid #4c4d4d;
    border-radius: 10px;
}

/* widgets */
.cardinal-fx.mod-pedal .mod-switch-image {
    background-image: url(/resources/switch.png{{{ns}}});
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 50px;
    font-weight: bold;
    width: 100px;
    height: 50px;
    cursor: pointer;
}
.cardinal-fx.mod-pedal .mod-switch-image.off {
    background-position: right center !important;
}
.cardinal-fx.mod-pedal .mod-switch-image.on {
    background-position: left center !important;
}

.cardinal-fx.mod-pedal .title {
    font-size: 15px;
    font-weight: bold;
}

.cardinal-fx.mod-pedal .mod-knob {
    padding: 0px 5px;
    width: 85px;
}

.cardinal-fx.mod-pedal .mod-knob-image {
    background-image: url(/resources/orange-knob.png{{{ns}}});
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 52px;
    font-weight: bold;
    height: 52px;
    width: 52px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.cardinal-fx.mod-pedal .distrho-logo {
    background-image: url(/resources/distrho.svg{{{ns}}});
    background-size: cover;
    background-repeat: no-repeat;
    height: 48px;
    width: 48px;
    margin: 0 auto;
}

.cardinal-fx.mod-pedal .cardinal-text {
    font-size: 24px;
}

.cardinal-fx.mod-pedal .mod-string-value {
    border: 2px solid #4c4d4d;
}

.cardinal-fx.mod-pedal .mod-string-content,
.cardinal-fx.mod-pedal .mod-string-value {
    height: 100%;
    width: 100%;
}

.cardinal-fx.mod-pedal textarea {
    background: black;
    color: white;
    resize: none;
    white-space: pre-wrap;
}
 .cardinal-fx.mod-pedal textarea::selection {
    background: #4c4d4d;
}

.cardinal-fx.mod-pedal .screenshot {
    /* 1x1px black png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIW2NgYGD4DwABBAEAwS2OUAAAAABJRU5ErkJggg==);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.cardinal-fx.mod-pedal .cardinal-fx-knob-page-selector > span {
    cursor: pointer;
    background-color: #4c4d4d;
    border: solid #181919;
    border-width: 2px 0px 2px 2px;
    margin: 2px 0px 2px 2px;
    font-size: 18px;
}
.cardinal-fx.mod-pedal .cardinal-fx-knob-page-selector > span:first-child {
    margin-top: 10px;
}
.cardinal-fx.mod-pedal .cardinal-fx-knob-page-selector > span.selected {
    background-color: #181919;
    border: solid #4c4d4d;
    border-width: 2px 0px 2px 2px;
}

/* initial state */
/*.cardinal-fx.mod-pedal .cardinal-patch-comment,*/
.cardinal-fx.mod-pedal .cardinal-patch-screeenshot,
.cardinal-fx.mod-pedal .cardinal-fx-knob-page-2,
.cardinal-fx.mod-pedal .cardinal-fx-knob-page-3 {
    display: none;
}
