*.a
*.d
*.o

*.exe
*.dll
*.dylib
*.pkg
*.so
*.zip

.DS_Store
.kdev_include_paths
.kdev4/

.cache
compile_commands.json

/bin/
/build/
/build-headless/
/deps/surge-build/
/documentation.pdf
/jucewrapper/build/
/jucewrapper/JUCE/
/src/CardinalNative/resources/
/utils/inno/resources.iss
/utils/inno/version.iss
