[submodule "plugins/Cardinal/Rack"]
	path = src/Rack
	url = https://github.com/VCVRack/Rack.git
[submodule "dpf"]
	path = dpf
	url = https://github.com/DISTRHO/DPF.git
[submodule "plugins/Cardinal/mingw-std-threads"]
	path = include/mingw-std-threads
	url = https://github.com/meganz/mingw-std-threads.git
[submodule "plugins/Cardinal/sse2neon"]
	path = include/sse2neon
	url = https://github.com/DLTcollab/sse2neon.git
[submodule "plugins/Fundamental"]
	path = plugins/Fundamental
	url = https://github.com/VCVRack/Fundamental.git
[submodule "plugins/Befaco"]
	path = plugins/Befaco
	url = https://github.com/VCVRack/Befaco.git
[submodule "plugins/AudibleInstruments"]
	path = plugins/AudibleInstruments
	url = https://github.com/VCVRack/AudibleInstruments.git
[submodule "plugins/AnimatedCircuits"]
	path = plugins/AnimatedCircuits
	url = https://github.com/AnimatedCircuits/RackModules.git
[submodule "plugins/ZetaCarinaeModules"]
	path = plugins/ZetaCarinaeModules
	url = https://github.com/mhampton/ZetaCarinaeModules.git
[submodule "plugins/GrandeModular"]
	path = plugins/GrandeModular
	url = https://github.com/dbgrande/GrandeModular.git
[submodule "plugins/BogaudioModules"]
	path = plugins/BogaudioModules
	url = https://github.com/bogaudio/BogaudioModules.git
[submodule "plugins/Bidoo"]
	path = plugins/Bidoo
	url = https://github.com/sebastien-bouffier/Bidoo.git
[submodule "plugins/ESeries"]
	path = plugins/ESeries
	url = https://github.com/VCVRack/ESeries.git
[submodule "plugins/JW-Modules"]
	path = plugins/JW-Modules
	url = https://github.com/jeremywen/JW-Modules.git
[submodule "plugins/rackwindows"]
	path = plugins/rackwindows
	url = https://github.com/n0jo/rackwindows.git
[submodule "plugins/AS"]
	path = plugins/AS
	url = https://github.com/AScustomWorks/AS.git
[submodule "plugins/ImpromptuModular"]
	path = plugins/ImpromptuModular
	url = https://github.com/MarcBoule/ImpromptuModular.git
[submodule "plugins/AmalgamatedHarmonics"]
	path = plugins/AmalgamatedHarmonics
	url = https://github.com/jhoar/AmalgamatedHarmonics.git
[submodule "plugins/cf"]
	path = plugins/cf
	url = https://github.com/cfoulc/cf.git
