<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Cardinal</string>
	<key>CFBundleIconFile</key>
	<string>distrho.icns</string>
	<key>CFBundleIdentifier</key>
	<string>Cardinal</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSRequiresAquaSystemAppearance</key>
	<false/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Cardinal requires network permissions for remote OSC control.</string>
</dict>
</plist>
