<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Cardinal</string>
	<key>CFBundleIconFile</key>
	<string>distrho.icns</string>
	<key>CFBundleIdentifier</key>
	<string>studio.kx.distrho.cardinal.jack</string>
	<key>CFBundleShortVersionString</key>
	<string>25.10</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.15</string>
	<key>NSHumanReadableCopyright</key>
	<string>(C) 2011-2025 Filipe Coelho.
This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation; either version 3 of the License, or any later version.</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSRequiresAquaSystemAppearance</key>
	<false/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Cardinal requires network permissions for remote OSC control.</string>
</dict>
</plist>
